USE [master]
GO
/****** Object:  Database [DB_RUTAS_UISRAEL]    Script Date: 16/12/2023 0:38:21 ******/
CREATE DATABASE [DB_RUTAS_UISRAEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_RUTAS_UISRAEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_RUTAS_UISRAEL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_RUTAS_UISRAEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_RUTAS_UISRAEL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_RUTAS_UISRAEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_RUTAS_UISRAEL]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 16/12/2023 0:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[Id_alumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_alumno] [nvarchar](200) NULL,
	[Apellido_alumno] [nvarchar](200) NULL,
	[CI_alumno] [varchar](10) NULL,
	[Email_alumno] [varchar](10) NULL,
	[Telefono_alumno] [nvarchar](10) NULL,
	[Direccion_alumno] [varchar](150) NULL,
	[Estado_alumno] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 16/12/2023 0:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[Id_reserva] [int] NOT NULL,
	[Id_ruta] [int] NULL,
	[Id_Alumno] [int] NULL,
	[Fecha_Reserva] [date] NULL,
	[Estado_Reserva] [char](1) NULL,
	[Codigo_Reserva] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 16/12/2023 0:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[Id_Ruta] [int] NOT NULL,
	[Id_trasporte] [int] NULL,
	[Estado_ruta] [bit] NULL,
	[Detalle_ruta] [varchar](200) NULL,
	[Nombre_ruta] [varchar](100) NULL,
	[Horario] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_transporte]    Script Date: 16/12/2023 0:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_transporte](
	[Id_tipo_trasporte] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_tipo_trasporte] [varchar](1) NULL,
	[Estado_tipo_trasporte] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_tipo_trasporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trasporte]    Script Date: 16/12/2023 0:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trasporte](
	[Placa_trasporte] [varchar](1) NULL,
	[Id_tipo_trasporte] [int] NULL,
	[capacidad] [varchar](1) NULL,
	[Estado_trasporte] [bit] NULL,
	[Id_trasporte] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_trasporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id_trasporte]    Script Date: 16/12/2023 0:38:22 ******/
CREATE NONCLUSTERED INDEX [Id_trasporte] ON [dbo].[Trasporte]
(
	[Placa_trasporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Trasporte] ADD  DEFAULT ((0)) FOR [Estado_trasporte]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([Id_Alumno])
REFERENCES [dbo].[ALUMNO] ([Id_alumno])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([Id_ruta])
REFERENCES [dbo].[Rutas] ([Id_Ruta])
GO
ALTER TABLE [dbo].[Rutas]  WITH CHECK ADD FOREIGN KEY([Id_trasporte])
REFERENCES [dbo].[Trasporte] ([Id_trasporte])
GO
ALTER TABLE [dbo].[Trasporte]  WITH CHECK ADD FOREIGN KEY([Id_tipo_trasporte])
REFERENCES [dbo].[Tipo_transporte] ([Id_tipo_trasporte])
GO
USE [master]
GO
